include CHANGES LICENSE README TODO
recursive-include appscript_2x *.py *.sh *.h *.c *.css *.html *.png *.gif README CHANGES-OLD
recursive-include appscript_3x *.py *.sh *.h *.c *.css *.html *.png *.gif README

